* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", "Belanosima", sans-serif;
    scroll-behavior: smooth;
    font-size: 1.2rem;
    line-height: 1.6em;
    background-color: #dddddd;
  }

 #header ul {
    list-style-type: none;
  }

  ul li a {
    color: #555;
  }

h1, h2, h3 {
    line-height: 1.3em;
    color: #555;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

p {
    margin-bottom: 1.6em;
    color: #555;
  }

img {
    width: 100%;
}

.container {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #EFF5F5;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 15px;
}

/* === Aplicando CSS al header */
#header {
    background-color: #EFF5F5;        
    text-align: center;
    margin-bottom: 20px;
}


#options li a, #options-2 li a {
    text-decoration: none;
    padding: 10px;
    transition: background-color .5s, color .5s border-radius .1s  color .1s ease-out;
}

ul li a:visited {
    color: #555;
}

ul li a:hover {
    background-color: #181823;
    color: #fff;
    border-radius: 25px;
}

/* === Aplicando detalles al framework de CSS Miligram para el formulario  === */
form {
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}


/* === Aplicando CSS comportamiento responsive o adaptativo === */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #header {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        padding: 20px;      
        align-items: center;  
    }

    #titulo h2 {
        font-size: 2.5rem;
        font-weight: bold;
    }
 }
 /* X-Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) { 
    #header {
        display: grid;
        grid-template-columns: 1fr 4fr 2fr;
        
    }

    #header ul li a {
        font-size: 2rem;
        font-weight: 100;        
    }
    
    
    #left-menu #options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }

    #right-menu #options-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}
    